.testimonilas {
  height: 90vh; /* Remplit l'écran */
  overflow: hidden;
  background-color: #00529E;

}

.inner {
  display: flex;
  width: 56.3%;
  margin-left: 22px;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

.col {
  flex: 1;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butt4{
  background: #00969D;
position: absolute;
  margin-top: 70%;
  margin-left: 3%;
  white-space: nowrap;

  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.155);
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;

}
.butt4:hover{
  background-color:#00529E;
  color: white;
  border: 1px solid #00529E;

  transition: 0.5s;
}
.testimonila{
  background: #fff;
  padding-bottom:50px;
  border-radius: 20px;
  text-align: center;
  width: 85%;
  height: 50%;

}
.testimonila img {
  width: 60%;
}

.name {
  font-size: 1.5em;
  margin: 10px 0;
}
.imgavis{
  position: absolute;
  width: 10%;
  margin-left: 55%;
  margin-top: 30px;


}
.titre{
  color: white;
  margin-left: 30%;
  margin-top: 30px;
font-size: 30px;
  position: absolute;

}
.borderr{
  position: absolute;
  width: 160px;
  height: 7px;
  background: #04bef1;
  margin-top: 90px;
  margin-left: 45%;

}

.slider-button {
  position: absolute;
  top: auto;
  background: none;
  font-size: 60px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition:  0.3s ease-in-out ;
  }
.slider-button:hover {
  color: #04bef1;
  transform: scale(1.2);
  }

.slider-button:hover {
background: none;
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}
@media (max-width: 768px) {

  .testimonilas {
    position: absolute;
    width: 110%;
    height: 50vh; /* Remplit l'écran */
    overflow: hidden;
    margin-top: 395%;
    background-color: #00529E;

  }
  
  .inner {
    display: flex;
    width: 51.3%;
    margin-left: 15px;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .row {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .col {
    flex: 1;
    min-width: 300%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .butt4{
    background: #00969D;
position: absolute;
    margin-top: 260%;
    margin-left: 3%;
    white-space: nowrap;

    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.155);
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;

}
.butt4:hover{
    background-color:#00529E;
    color: white;
    border: 1px solid #00529E;

    transition: 0.5s;
}
  .testimonila{
    background: #fff;
    padding-bottom:50px;
    border-radius: 20px;
    text-align: center;
    width: 85%;
    height: 50%;

}
  .testimonila img {
    width: 50%;
  }
  
  .name {
    font-size: 13px;
    margin: 10px 0;
  }
  .imgavis{
    position: absolute;
    width: 20%;
    margin-left: 58%;
    margin-top: 23px;


}
.titre{
    color: white;
    margin-left:7%;
    font-size: 20px;
    margin-top: 20px;

    position: absolute;

}
.border{
    position: absolute;
    width: 160px;
    height: 7px;
    background: #04bef1;
    margin-top: 60px;
    margin-left: 30%;

}
  
  .slider-button {
    position: absolute;
    top: 50%;
    background: none;
    font-size: 40px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition:  0.3s ease-in-out ;
    }
  .slider-button:hover {
    color: #04bef1;
    transform: scale(1.2);
    }
  
  .slider-button:hover {
background: none;
  }
  
  .slider-button:first-of-type {
    left: 10px;
  }
  
  .slider-button:last-of-type {
    right: 50px;
  }
  }
  

  @media (max-width: 390px) {

 
  
  }
  



